@font-face {
    font-family: 'MinhaFonte';
    src: url('../Assets/fonts/PPTelegraf-Regular.otf') format('opentype');
    src: url('../Assets/fonts/PPTelegraf-UltraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MinhaFonte', Regular; /* Adicione uma fonte fallback */
}

body {
    overflow: hidden;
}

.titulo03>h2{

    font-family: 'MinhaFonte',UltraBold;
    font-weight: 50px;  
    color: #2A6EF2;
}