.conteudo{
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    overflow: auto; /* Permite a rolagem */
    max-height: 1080px; /* Define uma altura máxima para ativar a rolagem se necessário */
}
.conteudo::-webkit-scrollbar {
    width: 0; /* Define a largura da barra de rolagem como 0 para escondê-la */
    background: transparent; /* Torna a barra de rolagem transparente */
  }
.caixas{
    width: 1920px;
    height: 1080px;
    position: relative;
}
.caixas>img{
    position: absolute;
}
.letraG01{
    top: 33%;
    right: 20%;
}
.cardP01{
    top:16%;
    left: 10%;
}
.btnSaibaMais{
    width: 300px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 70px;
    top:52%;
    right: 28%;
}
.logoP01{
    top:22%;
    right: 30%;
}
.btnSaibaMais>p{
    color: #2A6EF2;
    font-weight: bold;
    font-size: x-large;
}
.homemEnfermeiro02{
    right: 32%;
    top: 10%;
}
.mulherEnfermeiro02{
    right: 10%;
    bottom: 20%;
}
.titulo02{
    left:10%;
    top: 28%;
    position: absolute;
}
.titulo02>h2{
    width: 600px;
    text-justify:auto;
    font-size:39px;
    margin-bottom: 15px;    
    color: #2A6EF2;
}
.titulo02>p{
    width: 553px;
    text-justify:auto;
    font-size: 22px;
    line-height: 160%;
}
.cima03{
    top:35%;
}
.baixo03{
    bottom: 35%;
}
/*--------------------------------------------------------------------------*/
.mag03{
    left: 08%;
    top: 32%;
}
.deb03{
    left: 27%;

}
.sen03{
    right:40%;
    top: 33%;
}
.cai03{
    right: 10%;
}
/*--------------------------------------------------------------------------*/
.mega03{
    left:12%;
}
.csd03{
    left:38%;
}
.tec03{
    right:22%;
}
/*--------------------------------------------------------------------------*/