.conteudo{
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    overflow: auto; /* Permite a rolagem */
    max-height: 1080px; /* Define uma altura máxima para ativar a rolagem se necessário */
}
.conteudo::-webkit-scrollbar {
    width: 0; /* Define a largura da barra de rolagem como 0 para escondê-la */
    background: transparent; /* Torna a barra de rolagem transparente */
  }
.caixas{
    width: 1920px;
    height: 1080px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixas>img{
    position: absolute;
}
.letraG01{
    top: 33%;
    right: 20%;
}
.cardP01{
    top:16%;
    left: 10%;
}
.btnSaibaMais{
    width: 300px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 70px;
    top:52%;
    right: 28%;
}
.logoP01{
    top:22%;
    right: 30%;
}
.btnSaibaMais>p{
    color: #2A6EF2;
    font-weight: bold;
    font-size: x-large;
}
.homemEnfermeiro02{
    right: 32%;
    top: 10%;
}
.mulherEnfermeiro02{
    right: 10%;
    bottom: 20%;
}
.titulo02{
    left:10%;
    top: 28%;
    position: absolute;
}
.titulo02>h2{
    width: 600px;
    text-justify:auto;
    font-size:39px;
    margin-bottom: 15px;    
    color: #2A6EF2;
}
.titulo02>p{
    width: 553px;
    text-justify:auto;
    font-size: 22px;
    line-height: 160%;
}


.branco{
    color: #fff
}

.quarto {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 1080px;
}

.quarto .branco {
    z-index: 1;
    text-align: center;
    width: 76%;
    font-size: 58px;
    line-height: 1.4;
}
.branco>a{
    
    color: #fff;
}

.quarto .fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.bloco{
    background-color: #2A6EF2;
    padding: 20px;
    color: white;
    width: 30%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}

.divBlocos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}



.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-left: 20px;
}

.esquerda h2 {
    color: #2a61dc;
    margin-bottom: 10px;
}

.esquerda a {
    display: block;
    margin: 5px 0;
    color: #000;
}

.direita h3 {
    color: #2a61dc;
    margin-bottom: 5px;
}

.direita p {
    margin-bottom: 15px;
}

.cima03{
    top:35%;
}
.baixo03{
    bottom: 35%;
}
/*--------------------------------------------------------------------------*/
.mag03{
    left: 08%;
    top: 32%;
}
.deb03{
    left: 27%;

}
.sen03{
    right:40%;
    top: 33%;
}
.cai03{
    right: 10%;
}
/*--------------------------------------------------------------------------*/
.mega03{
    left:12%;
}
.csd03{
    left:38%;
}
.tec03{
    right:22%;
}
/*--------------------------------------------------------------------------*/
.titulo03{
    top:10%;
    left:35%;
    position: absolute;

}
.titulo03>h2{
    font-size: 70px;
    font-weight: 50px;
    color: #2A6EF2;
}

.ap05{
    left: 20%;
}
.opEM05{
    right:20%;
}
.titulo05{
    position: absolute;
    top:15%;
}
.titulo05>h2{
    color: #2A6EF2;
    font-size: 50px;
}
.img05{
    top:40%;
}

/*--------------------------------------------------------------------------*/
.titulo06{
    position: absolute;
    top: 15%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo06>h2{
    color: #2A6EF2;
    font-size: 50px;
    margin-bottom: 25px;
}
.titulo06>p{    
    font-size: 25px;
    width: 55%;
}
.video{
    width: 1028px;
    height: 578px;
    background-color: #000;
    position: relative;
    top:10%;
    border-radius: 5px;
}
.seis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.esquerda{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.direita{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.esquerda>h2{
    width: 50%;
    font-size: 60px;
}
.esquerda>a{
    position: absolute;
    left: 25%;
}

