@media screen and (max-width: 1024px) {

    .fundo01{
        height: 100%;
    }
    .cardP01{
        width: 30%;
        top:26%;
        left: 5%;
    }
    .logoP01{
        top:36%;
        right: 24%;
    }
    .letraG01{
        top: 43%;
        right: 12%;
        width: 40%;
    }
    .btnSaibaMais{
        width: 40%;
        top:54%;
        right: 12%;
    }
    .btnSaibaMais>p{
        font-size: 200%;
    }
    .homemEnfermeiro02{
        left: 28%;
    }
    .mulherEnfermeiro02{
        left:50%;
    }
    .titulo02{
        left:24%;
        top: 48%;
    }
    .cinco{
        height: 700px;
    }
    .titulo03{
        top:0%;
        left:0;
        width: 100%;
        position: absolute;
        text-align: center;
            
    }
    .titulo03>h2{
        font-size: 70px;
        font-weight: 50px;
        color: #2A6EF2;
    }
    /*-----------------------03--------------------*/
    .terceiro>img{
        width: 15%;
    }
    /*-----------------------03--------------------*/
    .cinco>img{
        width: 26%;
    }
    .video{
        width: 90%;
    }
}
@media screen and (max-width: 1023px) and (min-width: 481px) {

    .caixas{
        width: 100%;
    }
    .fundo01{
        height: 100%;
    }
    .cardP01{
        width: 30%;
        top:26%;
        left: 5%;
    }
    .logoP01{
        top:36%;
        right: 24%;
    }
    .letraG01{
        top: 43%;
        right: 12%;
        width: 40%;
    }
    .btnSaibaMais{
        width: 40%;
        top:54%;
        right: 12%;
    }
    .btnSaibaMais>p{
        font-size: 200%;
    }
    .homemEnfermeiro02{
        left: 28%;
    }
    .mulherEnfermeiro02{
        left:50%;
    }
    .titulo02{
        left:24%;
        top: 48%;
    }
    .branco{
        font-size: 50px !important;
    }
    .cinco{
        height: 700px;
    }
    .titulo03{
        top:0%;
        left:0;
        width: 100%;
        position: absolute;
        text-align: center;
            
    }
    .titulo03>h2{
        font-size: 70px;
        font-weight: 50px;
        color: #2A6EF2;
    }
    /*-----------------------03--------------------*/
    .terceiro>img{
        width: 15%;
    }
    /*-----------------------03--------------------*/
    .cinco>img{
        width: 26%;
    }
    .video{
        top: 20%;
        width: 480px;
        height: 720px;
    }
}
